body,
html {
    background-color: black;
    height: 100%;
}

/* NAV */

.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}

/* HOME */

.home {
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    background-image: url("img/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
    overflow: hidden;
    position: relative;
}

/* Place logo in the middle of the image */

.float-box {
    animation: float 6s ease-in-out infinite;
    margin-top: -24%;
    transform: translatey(0px);
    z-index: 100;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.splash-logo {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.splash-logo img {
    transform: scale(.75);
}

/* PAGES W/ CLOUD BG */

.services {
    background-image: url(img/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* OTHER PAGES */

.about {
    background-color: cadetblue;
    overflow: hidden;
}

.contact {
    background-color: white;
    height: auto;
    overflow: hidden;
}

.under-construction {
    background-color: white;
    height: 100vh;
    overflow: hidden;
}
